<section class="content">
  <div class="row">
    <div class="list-group">
      {{#each episodes as |episode|}}
        <span class="list-group-item">
          <h4 class="list-group-item-heading">{{episode.show}}</h4>
          <p class="list-group-item-text">
            {{#link-to "user.index.info" episode}}
              <i class="fa fa-ellipsis-v" style="color: black"></i>
            {{/link-to}}
            {{episode.title}} - {{episode.what}}
          </p>
          <span class="pull-right" style="position: relative; top: -50px">
            <i class="fa fa-play-circle-o fa-3x"></i>
          </span>
        </span>
      {{/each}}
    </div>
  </div>
</section>