<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body">
          <div class="nothing">
            <span>{{yield}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>