<div class="load-player">
  <div>
    <i class="fa fa-spin fa-spinner fa-5x loading"></i>
  </div>
  <div class="status">
    <span>{{status}}</span>
  </div>
</div>
<i id="close" class="hide fa fa-times fa-2x"></i>

<div id="player" class="hide"></div>