<div class="load-player">
  <div>
    {{#if loading}}
      <i class="fa fa-spin fa-spinner fa-5x loading"></i>
    {{else}}
      <button class="btn btn-lg btn-default" {{action "back"}} type="button" name="button">Back</button>
    {{/if}}
  </div>
  <div class="status">
    <span>{{status}}</span>
  </div>
</div>
<i id="close" class="hide fa fa-times fa-2x"></i>
