@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.nothing {
  min-height: 400px !important; 
  text-align: center;
}

.alert {
  border-radius: 0px;
  border: 0px;
}

.nothing span {
  font-size: 20px; 
  font-weight: bold; 
  top: 170px; 
  position: relative;
}

.main-header {
  background-color: #3c8dbc;
}

.fill {
  overflow: hidden;
   background-size: cover;
   background-position: center;
   height: 200px;
 }

 .links {
   display: flex !important;
   width: 100%;
   justify-content: space-between !important;
 }

 .links a {
  color: inherit;
 }

 .container {
    margin-top: 50px;
 }