html {
  background: #ECF0F5;
}

.nothing {
  min-height: 400px !important; 
  text-align: center;
}

.alert {
  border-radius: 0px;
  border: 0px;
}

.nothing span {
  font-size: 20px; 
  font-weight: bold; 
  top: 170px; 
  position: relative;
}

.fa-spin-custom, .spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.main-header {
  background-color: #3c8dbc;
}

.links a {
  padding-left: 5px;
  text-decoration: none;
  color: inherit;
}