{{#if model}}
  {{episode-list 
    episodes=model 
    seen="markEpisodeAsSeen"
    remove="removeEpisode"
    reload="reloadEpisode"
    download="downloadEpisode"
    play="playEpisodeInPopcornTime"
  }}
{{else}}
  {{#no-episodes}}
    {{#if isUpdating}}
      <i class="fa fa-spinner spin" style="font-size: 60px"></i>
    {{else}}
      Yay, you don't have any unseen episodes.
      <a href="#" {{action "updateAll"}}>
        Try reloading.
      </a>
    {{/if}}
  {{/no-episodes}}
{{/if}}