<section class="content-header">
  <h1>
    <i class="fa fa-star"></i>
    New episodes
  </h1>
</section>

{{#if model}}
  {{episode-list 
    episodes=model 
    seen="markEpisodeAsSeen"
    remove="removeEpisode"
    reload="reloadEpisode"
    download="downloadEpisode"
    play="playInPopcornTime"
  }}
{{else}}
  {{#no-episodes}}
    {{#if isUpdating}}
      <i class="fa fa-spinner spin" style="font-size: 60px"></i>
    {{else}}
      Yay, you don't have any unseen episodes.
      <a href="#" {{action "updateAll"}}>
        Try reloading.
      </a>
    {{/if}}
  {{/no-episodes}}
{{/if}}