<section class="content-header">
  <h1>
    <i class="fa fa-times"></i>
    Deleted episodes
  </h1>
</section>

{{#if model}}
  {{episode-list 
    episodes=model 
  }}
{{else}}
  {{#no-episodes}}
    You don't have deleted episodes.
  {{/no-episodes}}
{{/if}}