<section class="content-header">
  <h1>
    <i class="fa fa-eye"></i>
    Seen episodes
  </h1>
</section>

{{#if model}}
  {{episode-list 
    episodes=model 
  }}
{{else}}
  {{#no-episodes}}
    You don't have seen episodes.
  {{/no-episodes}}
{{/if}}