<div class="well">
  <button class="btn btn-default btn-sm">Login</button>
  <button class="btn btn-default btn-sm">Reload</button>
  <button class="btn btn-default btn-sm">Seen</button>
  <button class="btn btn-default btn-sm">Removed</button>
</div>

<div class="well">
  {{outlet}}
</div>
