<div class="wrapper">
  <header class="main-header">
    <a href="index2.html" class="logo"><b>Never</b>Again</a>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          </li>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          </li>
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MY EPISODES</li>
        <li><a href="documentation/index.html"><i class="fa fa-star"></i> 
          New
          <span class="label label-primary pull-right">4</span>
        </a></li>
        <li><a href="documentation/index.html"><i class="fa fa-eye"></i> Seen</a></li>
        <li><a href="documentation/index.html"><i class="fa fa-times"></i> Deleted</a></li>

        <li class="header">PROFILE</li>
        <li><a href="documentation/index.html"><i class="fa fa-user"></i> Settings</a></li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        New episodes
        <small>Updated 10 min ago</small>
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-body">
              {{outlet}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>