<div class="well">
  {{#if error}}
    <div class="alert alert-warning">
      Login failed, please try again
    </div>
  {{/if}}
  
  {{#if isLoading}}
    Loading ...
  {{else}}
    <a href="http://trakt.tv/pin/3829" target="_blank">Open</a>
    {{input type="text" value=token size="50" action="login" on="enter"}}
  {{/if}}
</div>
