<div id="login-form">
  <a href="/">
    <div class="logo-wrapper">
      <div class="base"></div>
      <div class="logo"></div>
    </div>
  </a>

  <div class="form-signin">
    <h1>NeverAgain</h1>
  </div>

  <hr>

  <div class="bottom-wrapper text">
    Click on the button below, login to Trakt.tv and copy the token
  </div>

  {{#if error}}
    <hr>
    <div class="bottom-wrapper error text">{{error}}</div>
  {{/if}}
  <hr>

  <h2 class="error label-primary to-trakt">
    {{#if isLoading}}
      <i class="fa fa-spinner spin"></i>
    {{else}}
      <a class="trakt" target="_blank" href="http://trakt.tv/pin/3829">
        To Trakt.tv
        <i class="fa fa-angle-double-right"></i>
      </a>
    {{/if}}
  </h2>

  <div class="bottom-wrapper">
    {{input 
      placeholder="Enter your token" 
      type="text" 
      value=token 
      class="text" 
      action="login" 
      on="enter"
    }}
  </div>
</div>
