<section class="content-header">
  <h1>
    <i class="fa fa-eye"></i>
    Seen episodes
  </h1>
</section>

{{#if episodes}}
  {{render "episodes"}}
{{else}}
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <div class="nothing">
              <span>
                You don't have seen episodes.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/if}}